html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
padding: 0;
background-color: #58A4B0;
background-repeat: no-repeat;
background-attachment: fixed;
}

.container-title{
  display: flex;
  flex-wrap: wrap;
  font-style: italic;
  font-weight: bold;
  font-family: Garamond, serif;
  text-align: center;
  padding: 0px;
  font-size: 45px;
color: #CC8B86;
}


.main-container{
  margin: 20px;
  padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  background-color:#2B303A;
    margin:0 auto;
width: 50%;
max-height: 550px;
overflow: auto;
border-radius: 25px;
}

.left-side { 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    padding: 2%;
}

.right-side {
    display: flex;
    flex-wrap: wrap;
    padding: 2% 2% 2% 2%;
   height: 400px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(128, 128, 128, 0.3);
}

textarea {
    width: 95%;
    height: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    resize: vertical;
    font-size: 20px;
    opacity: 0.75;
}

input{
    width: 50%;
    height: 15px;
    padding: 10px;
    border: 0px;
    background-color: white;
    border-radius: 15px;
    font-size: 20px;
    opacity: 0.75;
}

button {
    display: block;
    width: 20%;
    padding: 10px;
    margin-top: 10px;
    background-color: #CC8B86;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    opacity: 0.75;
}

button:hover {
    background-color:#D64933;
    font-size: 25px;
}

.note-list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 200px;
  justify-content: center;
  border-radius: 5px;
  opacity: 0.75;
}

.note-item {
    background-color: #f9f9f9;
    padding: 10px;
    overflow: hidden;
    justify-self: center;
    margin-bottom: 10px;
    word-wrap: break-word;
    text-align: center;
    max-width: 200px;
    max-height: 25px;
}

.note-item:hover{
    font-size: 18px;
    border-radius: 15px;
    word-wrap: break-word;
    justify-self: center;
    overflow:hidden;
    text-align: center;
    max-width: 500px;
    max-height: 200px;
}

.note-item:last-child {
    margin-bottom: 0;
}
  .Error{
    color:red;
    border:2px solid red;
  }

  .ErrorMessage{
    color:red;
    font-size: 20px;
  }

  .LengthCheck{
    color:white;
    font-size: 20px;
  }

  @media screen and (max-width: 1920px) {

    .container-title{
      justify-content: left;
      width: 50%;
      height: 50px;
    }

    .main-container {
margin-top: 5%;
      max-width: 1920px;
      max-height: 1080px;
    }

    .left-side {
        width: 60%;
        height: 500px;
      }
      .right-side {
        width: 30%;
      }
      .note-item {
        width: calc(100% - 20px);
      }
      .note-form {
        width: 80%;
      }

      button{
        width: 100%;
      }

      .note-form input,
      .note-form textarea{
        width: calc(100% - 20px);
      }
  }
  
  @media screen and (max-width: 1200px) {

    .container-title{
      justify-content: left;
      width: 50%;
      height: 50px;
    }

    .main-container {
        max-width: 992px;
        max-height: 800px;
      }

    .note-item {
      width: calc(100% - 20px);
    }

    .note-form {
      width: 100%;
    }

  @media screen and (max-width: 992px) {
    
    .container-title{
      width: 100%;
      justify-content: center;
    }

    .note-form {
      width: 100%;
    }

    .left-side {
      justify-content: center;
      width: 80%;
      height: 600px;
    }

    .right-side {
      justify-content: center;
      width: 100%;
    }
    
    .note-item {
        padding: 10px;
        width: 100%;
      }
  
    .note-form input,
    .note-form textarea {
      width: calc(100% - 20px);
    }
  }

  @media screen and (max-width: 768px) {

     .container-title{
      font-size: 40px;
      justify-content: center;
    }

    .note-form {
      width: 100%;
    }

    .left-side {
      justify-content: center;
      width: 80%;
      height: 600px;
    }

    .right-side {
      justify-content: center;
      width: 100%;
    }
    
    .note-item {
        padding: 10px;
        width: 100%;
      }
  
    .note-form input,
    .note-form textarea {
      width: calc(100% - 20px);
    }
  }

  @media screen and (max-width: 600px) {

    .container-title{
      justify-content: center;
      font-size: 30px;
    }

    .main-container {
        max-width: 600px;
        max-height: 950px;
      }

      .note-form {
        width: 80%;
      }

    .left-side {
        justify-content: center;
      width: 100%;
      height: 550px;
    }

    .right-side {
        justify-content: center;
        width: 100%;
      }
  
    .note-form input,
    .note-form textarea,
    .note-form button {
      width: calc(100% - 20px);
    }
  }

}